<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="board">
	<select id="listAll"
resultType="com.example.car.model.board.dto.BoardDTO">
		<include refid="paging_header" />
			select bno,title,writer,name,regdate,viewcnt,show
  				,(select count(*) from reply where bno=b.bno) cnt					
			from board b, member m
			<include refid="search" />
			order by bno desc   
		<include refid="paging_footer" />
	</select>
	<sql id="paging_header">
		select *
		from (
		    select rownum as rn, A.*
		    from (	
	</sql>
	<sql id="paging_footer">
		    ) A
		) where rn between #{start} and #{end}	
	</sql>


	<insert id="insert">
		insert into board (bno,title,content,writer) values
		(seq_board.nextval, #{title}, #{content}, #{writer} )
	</insert>

	<!-- 첨부파일 정보 저장 -->
	<insert id="addAttach">
		insert into attach (fullName, bno) values
		(#{fullName}, seq_board.currval )
	</insert>

	<!-- 레코드 갯수 계산 -->
	<select id="countArticle" resultType="int">
		select count(*)
		from board b, member m
		<include refid="search"></include>
	</select>
	    <!-- 검색기능, sql태그는 다른 태그에 끼워넣을 수 있는 기능을 가지고 있음. -->
	<sql id="search">
		<choose>
			<when test="search_option != 'all' ">
				where b.writer=m.userid 
				    and show='Y'
				    and ${search_option} like #{keyword}			
			</when>
			<otherwise>
				where b.writer=m.userid 
				    and show='Y'
				    and (name like #{keyword} 
				        or title like #{keyword}
				        or content like #{keyword} )			
			</otherwise>
		</choose>
	</sql>
	
	
	
	
	
	

	<!-- 조회수 증가 처리 -->
	<update id="increaseViewcnt">
		update board set viewcnt=viewcnt+1
		where bno=#{bno}
	</update>

	<select id="read"
		resultType="com.example.car.model.board.dto.BoardDTO">
		select bno,title,regdate,content,viewcnt,name,writer
		from board b, member m
		where b.writer=m.userid and bno=#{bno}
	</select>
	
	<!-- 첨부파일 목록 ,parameterType 생략가능-->
	<select id="getAttach" resultType="String">
		select fullName 
		from attach
		where bno=#{bno}
		order by regdate desc	
	</select>
	
	<!-- 첨부파일 레코드 삭제 -->
	<delete id="deleteFile">
		delete from attach
		where fullName=#{fullName}
	</delete>

	<!-- 게시물 내용 수정 -->
	<update id="update">
		update board
		set title=#{title}, content=#{content}
		where bno=#{bno}
	</update>
	
	<!-- 새로운 첨부파일 추가 -->	
	<insert id="updateAttach">
		insert into attach (fullName, bno) values
		( #{fullName}, #{bno} )
	</insert>

    <!-- 게시물 삭제 -->
	<delete id="delete">
        <!-- delete from board where bno=#{bno} -->
        update board set show='N' where bno=#{bno}
	</delete>


</mapper>














